body {
  background-color: black;
}

/*facing north is 0 0
facing south is 100 0
facing west is 0 -70
facing east is 100 -70
trbl
$('#character').removeClass();
*/
#link {
  background-image: url(images/Zelda.png);
  height: 23px;
  width: 16px;
  background-position: 100px -70px;
}
